
    body{
        background-color: rgb(54, 49, 49);
    }

    h1{
      color: rgb(199, 38, 38);
      margin: 10px;
      text-align: center; 
      font-weight: bold;
    }

    p{
        color: aliceblue;
        margin: 15px;
        text-align: center;
    }

    ol,ul{
        color: white;
    }
    

    h2{
        text-align: center;
        color:rgb(255, 255, 255); 
        background-color:rgb(94, 19, 19) ;
        border: 3px solid;
        border-radius: 10px;
    }

    a{
        color: rgb(255, 230, 0);
        font-weight: bold;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
        color: brown;
    }

    img{
        color: rgb(132, 255, 0);
        margin: auto;
        display: block;
        border: 5px solid;
        border-radius: 10px;
    }

    
    table{
        color: rgba(255, 0, 0, 0.607);
        background-color: white;
        border: 3px solid;
        border-collapse: collapse;
        text-align: center;
        margin: auto;
    }

    th{
        background:rgb(87, 76, 76);
        color: rgb(255, 255, 255);
        padding: 10px;
        
    }

    td{
        border: 2px solid;
    }